<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Tasker: Manage your tasks with a clean interface, for free.</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="Dynamically generated task lists. A simple timeline to make your tasks easy to find and update, create an account and organize yourself."/>
		<meta name="robots" content="index,follow"/>
		<meta property="og:url" content="https://tasker.blmayer.dev">
		<meta property="og:type" content="website">
		<meta property="og:title" content="tasker.blmayer.dev">
		<meta property="og:description" content="Dynamically generated task lists. A simple timeline to make your tasks easy to find and update, create an account and organize yourself.">
		<meta property="og:site_name" content="tasker.blmayer.dev">
		<meta property="og:locale" content="en_US">
		<link rel="canonical" href="https://tasker.tasker.blmayer.dev/">
		<style>
			{{template "style.css"}}
		</style>
	</head>
	<body>
		<header>
			<h1>Tasks <a href="new">+</a></h1>
		</header>
		<main id="tasks">
			{{range .Tasks}}
				<span>{{.Date.Format "02 Jan 06 15:04"}}</span>
				<section>
					<a href="/tasks/{{.ID}}">
						<h3>#{{.ID}} {{.Title}}</h3>
						<p><b>{{.Summary}}</b></p>
						<p><em>{{.Status}}</em></p>
					</a>
				</section>
			{{end}}
		</main>
		{{template "footer.html" .User}}
	</body>
</html>
