<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Tasker</title>
		<meta charset="UTF-8" />
		<meta name=color-scheme content="light dark" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description"
		      content="Dynamically generated task lists. A simple list to make your tasks easy to find." />
		<style>
			{{template "style.css"}}
		</style>
	</head>

	<body>
		<header>
			<a href="/"><h1>{{.DefaultList}}</h1></a>
		</header>
		<main>
			<span>
				<p>
					<a href="/newlist"><small>new list</small></a><br>
				</p>
			</span>
			<section>
				<h3>#X You</h3>
				<p><b>Your settings</b></p>
				<form action="/profile" method="POST">
					<article>
						<h3>Lists</h3>
						<dl>
						{{range $k, $v := .Lists}}
							<dt><a href="/{{$k}}">{{$k}}</a></dt>
								<dd>Create date: {{$v.CreateDate.Format "02 Jan 06 15:04"}}</dd>
						{{end}}
						</dl>
						<h3>Settings</h3>
						<ul>
							<li>
								Default list:
								<select name="default_list">
									{{$l := .DefaultList}}
									{{range $k, $v := .Lists}}
										<option {{if eq $k $l}}selected{{end}} value="{{$k}}">{{$k}}</option>
									{{end}}
								</select>
							</li>
							<li>Default sort: {{.DefaultSort}}</li>
							<li>Default filter: {{.DefaultFilter}}</li>
							<li>Task display limit: <input type="number" name="task_display_limit" size="4" value="{{.TaskDisplayLimit}}"></li>
						</ul>
					</article>
					<p><em>Active</em></p>
					<input type="submit" value="Update">
				</form>
			</section>
		</main>
	</body>

</html>
