html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	padding: 10px;
	margin: 0 auto;
	max-width: 760px;
}

main {
	display: grid;
	grid-template-columns: 130px 1fr;
	align-items: first baseline;
}

section {
	border-left: 2px solid gray;
	padding: 10px 0px 0px 30px;
}

article {
	font-family: Arial;
	color: #666;
}

span::after {
	content: "•";
	position: relative;
	left: 27.5px;
}

a {
	text-decoration: none;
}

p > a {
	text-decoration: underline;
}

select {
	font-style: italic;
}

input, textarea, select {
	padding: 2px 6px;
	border-radius: 6px;
	border-width: 1px;
}

input:focus, textarea:focus {
	outline: none;
	box-shadow: inset 0 0 3px white;
	border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #151515;
	}

	article {
		color: #ddd;
	}
	
	a {
		color: #ffffff;
	}

	input, textarea, select {
		background: #151515;
		color: #eee;
	}
}

